#Configuration file for MeerTime pipeline (meerpipe)

#User
user = Aditya

#Type of data
type = meertime

#Pipeline version
pipe = old #now deprecated. 

#Path to the directories for each pulsar
input_path = /fred/oz005/timing

#Path where the data products are stored
output_path = /fred/oz005/users/aparthas/reprocessing_MK/TPA/UHF

#Path with the jones matrices
calibrators_path = /fred/oz005/users/aparthas/reprocessing_MK/poln_calibration 

#Processing flags : T, F, p, subband <number>, nozap, saveall
flags = saveall 

#Additional information for processing. 
rm_cat = /fred/oz005/users/aparthas/reprocessing_MK/TPA/TPA_Census/tpa_rm.list
dm_cat = /fred/oz005/users/aparthas/reprocessing_MK/TPA/TPA_Census/tpa_dm.list

#Reference frequency list for 928 channels
ref_freq_list = /fred/oz005/meerpipe/configuration_files/928ch_frequency_reference.npy

#Custom ephemerides and template paths
meertime_templates = /fred/oz005/users/aparthas/reprocessing_MK/TPA/TPA_Census/tpa_templates
meertime_ephemerides = /fred/oz005/users/aparthas/reprocessing_MK/TPA/TPA_Census/tpa_ephemerides

#Decimation products
decimation_products = /fred/oz005/users/aparthas/reprocessing_MK/TPA/TPA_Census/tpa_decimation.list

#RFI routine (CG or CHIVE)
rfi_alg = MG
